/* External Style */
/* Selector: Tên thẻ, tên class, tên id */

/* C1: Tên thẻ */
/* h1 {
            font-size: 12px;
            color: red;
        } */

/* C2: Tên Id */
#title {
  font-size: 12px;
  color: red;
}

/* C3: Tên class */
.round-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


.word-wrap {
    /* width: 150px; */
    width: 200px;
    height: 300px;
    border: 1px solid black;
    word-wrap: break-word;
    border-radius: 4px;
    line-height: 30px;
    overflow: auto;
    /* min-width: 300px; */
}